<form action="/addPlanejamento" method="POST">
    <p>Mes</p>
    <input type="text" name="mes">
    <p>situacao</p>
    <input type="text" name="situacao">

    <p>codPlanejamento</p>
    <input type="text" name="codPlanejamento">

    <p>id_cliente</p>
    <input type="text" name="id_cliente">
<br>
    <button type="submit">Cadastrar Postagem</button> 

</form>